form {
  max-width: 100%;
  margin: auto;
  margin-top: 5%;
  padding: 50px 30px 70px 30px;
  border-radius: 2%;
  background-color: white;
}

body{
  background-color: #cdedf2;
}

.empty{
  margin-top: 10px;
  color: tomato;
}

.mt-3{
  margin-top: 5%;
}

@media screen and (min-width:768px) and (max-width:1024px){
  form {
    max-width: 60%;
  }
}

@media screen and (min-width:1024px) {
  form{
    max-width: 40%;
  }
}